@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.custom-width {
  width: 1230px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
  }
}

a {
  color: blue;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}



body {

  background-color: var(--background);
  font-family: "Poppins", serif; 
}
