@use "./variables" as v;

.skgpt-btn {
    max-height: v.$button-height;
    height: v.$button-height;
    width: v.$button-width;
    max-width: v.$button-width;
    font-size: v.$button-font-size;
    line-height: v.$line-height-120;
    border-radius: 999px;
    border: none;
    color: v.$white;
    cursor: pointer;
    
    &.primary {
        width: 100px;
        background-color: v.$skye-green;
    }
    &.secondary {
        background-color: v.$dark-blue;
    }
}