@use "./variables" as v;

.skgpt-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .tab-header {
        display: flex;
        height: v.$panel-header-height;
        gap: 12px;

        .header-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: v.$button-font-size;
            background-color: v.$panel-header-btn-bg;
            min-width: v.$panel-header-btn-width;
            min-height: v.$panel-header-height;
            border-radius: 20px 20px 0 0;
            box-shadow: v.$box-shadow;
            cursor: pointer;

            &.active {
                background-color: v.$panel-header-btn-active-bg;
            }
        }
    }
    .tab-content {
        background-color: v.$panel-content-bg;
        box-shadow: v.$box-shadow;
        flex-grow: 1;
        z-index: 1;
        border-radius: 0 50px 50px 50px;
        padding: 2rem;

        .gpt-tab {
            display: none;
            height: 100%;

            &.active {
                display: block;
            }
        }
    }
}