.env
chroma/
tests/chroma
venv/
skyeGpt.iml
content/
.idea/
.DS_Store
settings/

# Ignore version control systems
.git
.gitignore

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo


# Ignore logs and temporary files
*.log
*.tmp

# Ignore local development tools and settings
.vscode/
.idea/
*.env
