chromadb==0.6.2
fastapi==0.115.6
langchain_text_splitters==0.3.5
Markdown==3.7
openai==1.59.8
pydantic==2.10.5
Requests==2.32.3
uvicorn==0.34.0
pytest==8.3.4
boto3==1.36.11
markdownify==0.14.1
deepeval==2.6.4
sseclient-py==1.8.0
