black==24.3.0
chromadb==1.0.8
fastapi==0.115.9
langchain_text_splitters==0.3.5
Markdown==3.7
pydantic==2.11.4
Requests==2.32.3
pytest-mock==3.14.0
uvicorn==0.34.0
pytest==8.3.4
boto3==1.36.11
markdownify==0.14.1
deepeval==2.9.3
sseclient-py==1.8.0
pydantic-ai[logfire]==0.2.4
pymongo==4.12.1
dnspython<3.0.0,>=1.16.0
dirty-equals==0.9.0
